In [24]:
import pandas as pd
import numpy as np

In [43]:
flights = pd.read_csv('flights.csv')

In [44]:
flights.head(3)

   year     month  passengers  Unnamed: 3
0  1949   January         112         NaN
1  1949  February         118         NaN
2  1949     March         132         NaN

In [46]:
# This will readall rows and columns Year, Month, Passenger and output will be a dataframe
flights_df = flights.iloc[:,0:3]

In [47]:
print(type(flights_df))

<class 'pandas.core.frame.DataFrame'>

In [58]:
flights_df.head(3)

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132

In [48]:
# This will read all rows and columns Year, Month, Passenger and output will be an Array
flights_arr = flights.iloc[:,0:3].values

In [49]:
print(type(flights_arr))

<class 'numpy.ndarray'>

In [57]:
flights_arr[1,:] # prints first row with all columns

array([1949, 'February', 118], dtype=object)

In [52]:
# This will read second row and output will be an Series
flights_Ser = flights.iloc[1]

In [53]:
print(type(flights_Ser))

<class 'pandas.core.series.Series'>

In [54]:
flights_Ser

year              1949
month         February
passengers         118
Unnamed: 3         NaN
Name: 1, dtype: object

In [59]:
# This will read all rows and third coulmn-Passenger and output will be an Series
flights_Ser = flights.iloc[:,2]

In [60]:
print(type(flights_Ser))

<class 'pandas.core.series.Series'>

In [71]:
print(flights_Ser.values) #prints all values in Series

[112 118 132 129 121 135 148 148 136 119 104 118 115 126 141 135 125 149
 170 170 158 133 114 140 145 150 178 163 172 178 199 199 184 162 146 166
 171 180 193 181 183 218 230 242 209 191 172 194 196 196 236 235 229 243
 264 272 237 211 180 201 204 188 235 227 234 264 302 293 259 229 203 229
 242 233]

In [72]:
print(flights_Ser.index) # prints Index of the Series

RangeIndex(start=0, stop=74, step=1)

In [73]:
print(flights_Ser[1]) # prints value of the index 1

118